@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Home";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
    string ImageUrl = Configuration.GetValue<string>("WebImage");
    Layout = "_Layout";
}

<style>
      /* Mobile */
    @@media (max-width: 767px) {
        h1 {
            font-size: 18px;
        }
        
        .checkbox {
            margin-left: 0;
            margin-right: 0;
            height: auto;
            width: auto;
            margin-top: 0;
        }
        
        #bannerjp {
            height: 300px;
        }
        
        .pricing-box .badge-popular {
            font-size: 18px;
            padding: 2px 30px;
            margin-left: 5px;
        }
        
        #img4 {
            height: 400px;
            margin-left: 0;
        }
        
        .images.layout-02 .img15 {
            top: 5%;
            width: 100%;
            left: 0;
            margin-top: 0;
        }
        
        .images.layout-02 .img16 {
            top: 15%;
            width: 100%;
            left: 0;
            margin-top: 0;
        }
        
        #bannerjp {
            height: 400px;
            margin-left: 0;
        }
        
        .section-banner.layout-01 .content {
            padding: 50px;
            margin-left: 0;
        }
        
        .col-lg-6 {
            width: 100%;
            margin-top: 10px;
        }
        
        .video-tag {
            height: 300px;
            margin-bottom: 0;
            margin-left: 0;
            margin-top: 0;
        }
        
        .background-overlay > div {
            margin-top: -50px;
        }
        
        .background-overlay {
            margin-top: 30px;
        }
        
        .images.layout-01 .img02 {
            margin-left: 0;
            margin-top: 0;
        }
        
        .images.layout-01 .img01 {
            top: -50px;
        }
        
        .heading .heading-title.size-xl {
            font-size: 16px;
        }
    }
    
    /* Tablet */
    @@media (min-width: 768px) and (max-width: 1023px) {
        h1 {
            font-size: 20px;
        }

       
        .checkbox {
            margin-left: 0;
            margin-right: 0;
            height: auto;
            width: auto;
            margin-top: 0;
        }
        
        #bannerjp {
            height: 400px;
        }
        
        .pricing-box .badge-popular {
            font-size: 20px;
            padding: 2px 50px;
            margin-left: 8px;
        }
        
        #img4 {
            height: 500px;
            margin-left: 50px;
        }
        
        .images.layout-02 .img15 {
            top: 7%;
            width: 75%;
            left: -70px;
            margin-top: 50px;
        }
        
        .images.layout-02 .img16 {
            top: 18%;
            width: 75%;
            left: -70px;
            margin-top: 50px;
        }
        
        #bannerjp {
            height: 450px;
            margin-left: 10px;
        }
        
        .section-banner.layout-01 .content {
            padding: 70px;
            margin-left: 40px;
        }
        
        .col-lg-6 {
            width: 100%;
            margin-top: 20px;
        }
        
        .video-tag {
            height: 400px;
            margin-bottom: 0;
            margin-left: 0;
            margin-top: 20px;
        }
        
        .background-overlay > div {
            margin-top: -70px;
        }
        
        .background-overlay {
            margin-top: 50px;
        }
        
        .images.layout-01 .img02 {
            margin-left: -50px;
            margin-top: -50px;
        }
        
        .images.layout-01 .img01 {
            top: -70px;
        }
        
        .heading .heading-title.size-xl {
            font-size: 18px;
        }
    }
    
    /* Desktop */
    @@media (min-width: 1024px) {
        h1 {
            font-size: 24px;
        }

        

        .checkbox {
            margin-left: -180px;
            margin-right: -100px;
            height: 23px;
            width: auto;
            margin-top: -5px;
        }
        
        #bannerjp {
            height: 551px;
        }
        
        .pricing-box .badge-popular {
            font-size: 29px;
            padding: 2px 89px;
            margin-left: 10px;
        }
        
        #img4 {
            height: 595px;
            margin-left: 93px;
        }
        
        .images.layout-02 .img15 {
            top: 9%;
            width: 65%;
            left: -100px;
            margin-top: 228px;
        }
        
        .images.layout-02 .img16 {
            top: 26%;
            width: 65%;
            left: -100px;
            margin-top: 245px;
        }
        
        #bannerjp {
            height: 572px;
            margin-left: 1px;
        }
        
        .section-banner.layout-01 .content {
            padding: 90px;
            margin-left: 58px;
        }
        
        .col-lg-6 {
            width: 50%;
            margin-top: 0px;
        }
        
        .video-tag {
            height: 69%;
            margin-bottom: -6px;
            max-width: 1321px;
            margin-left: -116px;
            margin-top: 52px;
        }
        
        .background-overlay > div {
            margin-top: -95px;
        }
        
        .background-overlay {
            margin-top: 73px;
        }
        
        .images.layout-01 .img02 {
            margin-left: -79px;
            margin-top: -75px;
        }
        
        .images.layout-01 .img01 {
            top: -71px;
        }
        
        .heading .heading-title.size-xl {
            font-size: 24px;
        }
    }
</style>

<style>
    h1 {
        /*   font-size: 24px;
        line-height: 1.3;
        font-weight: 600;*/
        text-align: justify;
    }

    .checkbox {
        margin-left: -180px;
        margin-right: -100px;
        height: 23px;
        width: -1px;
        margin-top: -5px;
    }

    #bannerjp {
        height: 551px;
    }

    .pricing-box .badge-popular {
        font-size: 29px;
        line-height: 1.5;
        font-weight: 600;
        padding: 2px 89px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background-color: #2555dd;
        color: var(--sala-alway-dark, #111111);
        text-transform: none;
        margin-left: 10px;
    }

    #img4 {
        height: 595px;
        margin-left: 93px;
    }




    img, video {
        height: auto;
        max-width: 100%;
        margin-left: 1px;
    }

    .images.layout-02 .img15 {
        position: absolute;
        top: 9%;
        width: 65%;
        left: -100px;
        margin-top: 228px;
    }

    .images.layout-02 .img16 {
        position: absolute;
        top: 26%;
        width: 65%;
        left: -100px;
        margin-top: 245px;
    }

    #bannerjp {
        height: 572px;
        margin-left: 1px;
    }

    .section-banner.layout-01 .content {
        padding: 90px;
        margin-left: 58px;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
        margin-top: 0px;
    }

    .video-tag {
        /* width: 333%; */
        height: 69%;
        margin-bottom: -6px;
        max-width: 1321px;
        margin-left: -116px;
        margin-top: 52px;
    }

    .background-overlay > div {
        position: relative;
        margin-top: -95px;
    }

    .background-overlay {
        position: relative;
        margin-top: 73px;
    }

    .images.layout-01 .img02 {
        margin-left: -79px;
        position: relative;
        margin-top: -75px;
    }

    .images.layout-01 .img01 {
        position: absolute;
        top: -71px;
        left: 0;
    }

    .heading .heading-title.size-xl {
        font-size: 24px;
    }

   .background-grey {
        background-color: var(--sala-shade-background, #dfe1e8) !important;
    }

    .pricing-table.layout-03 .inner {
       
        border: 1px solid #257a77;
    }
    .section-pricing.background-grey .pricing-table.layout-03 .inner {
        background-color: #d9edeb;
    }
    
    a {
        color: black;
    }

    .pricing-box .name {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 16px;       
        display: flex;
        align-items:center;
        text-align: center;
        margin-left: 50px;
    }
   
</style>

<style>
    .pdt180 {
        padding-top: 362px;
    }

    .row.Subscription {
        text-align: center;
        margin-bottom: 30px;
    }

</style>

<style>
    @@keyframes slide {
        0% {
            left: 0%;
        }

        9% {
            left: 0%;
        }

        18% {
            left: -100%;
        }

        27% {
            left: -100%;
        }

        36% {
            left: -200%;
        }

        45% {
            left: -200%;
        }

        54% {
            left: -300%;
        }

        63% {
            left: -300%;
        }

        72% {
            left: -400%;
        }

        81% {
            left: -400%;
        }

        100% {
            left: -400%;
        }
    }
    .site-content {
        padding: 50px 0;
    }
    #slider {
        overflow: hidden;
        margin-top:70px;
    }

        #slider figure {
            position: relative;
            width: 600%;
            margin: 0px;
            left: 0px;
            text-align: left;
            animation: 30s slide infinite;
        }


    #slidy {
        height: 450px;
    }

    #slider figure img {
        float: left;
        width: 16.6666%;
        height: 400px;
    }

    .spdtb {
        padding-top: 4px !important;
        padding-bottom: 77px !important;
    }

    img.bannerslideimg {
        width: 600%;
        margin: 0px;
        left: 0px;
        height: 450px;
    }

    input.radiobutton {
        height: 23px;
        line-height: 16px;
        padding: 0px 0px;
        background-color: var(--sala-shade-background, #F8F9FC);
        color: var(--sala-neutral-dark, #111111);
        border: 0;
        cursor: pointer;
        border-radius: 3px;
        width: 4%;
    }

    .checkbutton {
        text-align: center;
        margin-bottom: 35px;
    }

    div#rbg {
        text-align: center;
        margin: 0px 0 40px 0px;
    }
</style>

<style>
   

    .icon {
        text-align: center;
    }

    .icon-box .icon + .content {
        margin-top: 24px;
        text-align: center;
    }

    .heading .heading-title.size-l {
        font-size: 40px;
        text-align: center;
    }

    b, strong {
        font-size: initial;
        font-weight: bolder;
        text-align: center;
        margin-left: 32px;
    }

    .desc h3, h2, h1 {
        font-size: 20px;
        line-height: 1.3;
        font-weight: 600;
        text-align: center;
    }

    .desc p {
        text-align: center;
        font-size: smaller;
    }

   /* div#iconjpj {
        background: aliceblue;
    }*/
</style>

<style>
    .truncate-text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* Number of lines to show */
        -webkit-box-orient: vertical;
    }

</style>

<style>
    .show-btn {
        color: #f05f14;
        font-weight: 600;
    }
    .carousel-container {
        border-radius: 0px;
        overflow: hidden;
        max-width: 650px;
        position: relative;
        box-shadow: 0 0 30px -20px #223344;
        margin: auto;
        z-index: 0;
        height: 100%;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

        .mySlides img {
            display: block;
            width: 100%;
        }

    /* image gradient overlay [optional] */
    /*  .mySlides::after {
      content: "";
      position: absolute;
      inset: 0;
        background-image: linear-gradient(-45deg, rgba(110, 0, 255, .1), rgba(70, 0, 255, .2));
    } */

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: auto;
        padding: 20px;
        color: white;
        font-weight: bold;
        font-size: 24px;
        border-radius: 0 8px 8px 0;
        background: rgba(173, 216, 230, 0.1);
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 8px 0 0 8px;
    }

        .prev:hover,
        .next:hover {
            background-color: rgba(173, 216, 230, 0.3);
        }

    /* Caption text */
   /* .text {
        color: #f2f2f2;
        background-color: rgba(10, 10, 20, 0.1);
        backdrop-filter: blur(6px);
        border-radius: 10px;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }*/

    /* Number text (1/3 etc) */
    .number {
        color: #f2f2f2;
        font-size: 16px;
        background-color: rgba(173, 216, 230, 0.15);
        backdrop-filter: blur(6px);
        border-radius: 10px;
        padding: 8px 12px;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .dots-container {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
    }

    /* The dots/bullets/indicators */
    .dots {
        cursor: pointer;
        height: 14px;
        width: 14px;
        margin: 0 4px;
        background-color: rgba(173, 216, 230, 0.2);
        backdrop-filter: blur(2px);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.3s ease;
    }

        .active1,
        .dots:hover {
            background-color: rgba(173, 216, 230, 0.8);
        }

    /* transition animation */
    .animate {
        -webkit-animation-name: animate;
        -webkit-animation-duration: 1s;
        animation-name: animate;
        animation-duration: 2s;
    }

    @@keyframes animate {
        from {
            transform: scale(1.1) rotateY(10deg);
        }

        to {
            transform: scale(1) rotateY(0deg);
        }
    }

    .mySlides img {
        display: block;
        width: 100%;
        height: 344px;
    }

    @@media (min-width: 498px) and (max-width: 850px) {
        svg {
            vertical-align: middle;
            margin-left: -200px !important;
            margin-top: -62px;
        }
    }

    @@media (min-width: 200px) and (max-width: 497px) {
        svg {
            vertical-align: middle;
            margin-left: 105px;
            margin-top: -67px;
            margin-right: 113px;
        }
    }

  /*  @@media (max-width: 1000px) {
        img.weblogo {
            margin: 0px 0px -15px 0px !important;
            width: 89px;
        }
    }*/
    @@media (min-width: 200px) and (max-width: 1000px) {
    .row > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }

        img.weblogo {
            margin: 0px 0px -53px 0px !important;
            width: 89px;
        }

        .col-lg-3.col-6 {
            margin-top: -20px;
        }
    }
    /*@@media (max-width: 300px) {
    svg {
        vertical-align: middle;
        margin-left: -187px;
        margin-top: -84px;
    }
    }*/
  /*  svg {
        vertical-align: middle;
        margin-left: -101px;
        margin-top: -62px;
    }*/

   
    @@media (max-width: 576px){
      div#rbg {
          text-align: center;
          margin: 0;
      }
    }
  

@@media (max-width: 300px) and (min-width: 160px) {
  h1 {
    font-size: 14px;
    text-align: justify;
  }

  .checkbox {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    width: auto;
    margin-top: 0;
  }

  #bannerjp {
    height: 300px;
    margin-left: 0;
  }

  .pricing-box .badge-popular {
    font-size: 16px;
    padding: 2px 30px;
    margin-left: 5px;
  }

  #img4 {
    height: 400px;
    margin-left: 0;
  }

  .images.layout-02 .img15,
  .images.layout-02 .img16 {
    top: initial;
    width: 100%;
    left: 0;
    margin-top: 0;
  }

  .section-banner.layout-01 .content {
    padding: 30px;
    margin-left: 0;
  }

  .col-lg-6 {
    width: 100%;
    margin-top: 10px;
  }

  .video-tag {
    height: 250px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
  }

  .background-overlay > div {
    margin-top: -50px;
  }

  .background-overlay {
    margin-top: 20px;
  }

  .images.layout-01 .img02 {
    margin-left: 0;
    margin-top: 0;
  }

  .images.layout-01 .img01 {
    top: -30px;
  }

  .heading .heading-title.size-xl {
    font-size: 12px;
  }
}


</style>

<div id="slider">
    <figure id="slidy" class="bannerslider">
        @*  <img src="http://media.newjobs.com/mm/xvaderinnlx/cjt2/slide1.jpg" />
            <img src="http://media.newjobs.com/mm/xvaderinnlx/cjt2/slide2.jpg" />
            <img src="http://media.newjobs.com/mm/xvaderinnlx/cjt2/slide3.png" />
            <img src="http://media.newjobs.com/mm/xvaderinnlx/cjt2/slide4.jpg" />
            <img src="http://media.newjobs.com/mm/xvaderinnlx/cjt2/slider5.jpg" />*@
    </figure>
</div>
<main id="main" class="site-main">
    <div class="site-content pt0 pb0 overflow-hidden">
        <br />
        <br /><br />
        <div id="sectionview">
        </div>


    </div>
    <div id="iconjpj">
   <section class="section spdt">
        <div class="container" >
          
             <div class="block-icon-box layout-01" >

            </div>
           
        </div>
    </section>
  </div>
    <!-- Full-width images with number and caption text -->
    <div id="erpslid">
      <div id="businessh" class="spdt">
          <div class="heading align-center ">
            
        </div>
      </div>
    </div>
    <div class="carousel-container">
        
        <div id="imagessss">
            @*<div class="mySlides ">
                <img src="https://wallpapershome.com/images/pages/pic_h/16239.jpg" alt="slide" />

            </div>

            <div class="mySlides ">
                <img src="https://wallpapershome.com/images/pages/pic_h/23525.jpg" alt="slide" />
                
              
            </div>

            <div class="mySlides ">
                <img src="https://wallpapershome.com/images/pages/pic_h/23277.jpg" alt="slide" />
             
            </div>

            <div class="mySlides ">
                <img src="https://wallpapershome.com/images/pages/pic_h/12596.jpg" alt="slide" />
              
            </div>*@

        </div>
       

        <!-- Next and previous buttons -->
        <a class="prev" onclick="prevSlide()">&#10094;</a>
        <a class="next" onclick="nextSlide()">&#10095;</a>

        <!-- The dots/circles -->
    <div class="dots-container" id="onclockfunction">
          @*  <span class="dots" onclick="currentSlide(1)"></span>
            <span class="dots" onclick="currentSlide(2)"></span>
            <span class="dots" onclick="currentSlide(3)"></span>
            <span class="dots" onclick="currentSlide(4)"></span>
            <span class="dots" onclick="currentSlide(5)"></span>
        </div>*@
    </div>

   </div>
    
    <div class="site-content">
        <div class="section-pricing background-grey spdtb">
            <div class="container">

                <div class="checkbutton" id="newcheckbutton">
                    @*<input type="radio" class="radiobutton" value="" checked><span id="monthly" class="text">Monthly</span>*@
                </div>
                <div id="newpricing">
                    <div class="pricing-table layout-03 is-active">
                        <div class="row">
                            @*<div class="col-lg-4">
                            <div class="pricing-box">
                            <div class="inner">

                            <div class="name">Free</div>
                            <div class="price"><div class="number">$0</div> / month</div>
                            <div class="desc"><p>Perfect for startups</p></div>
                            <ul class="list">
                            <li class="active">2 users</li>
                            <li class="active">SaaS Metrics</li>
                            <li>Team collaboration</li>
                            <li>Export HTML code</li>
                            <li>Upload Your Logo</li>
                            </ul>
                            <div class="button-wrap"><a href="contact-01.html" class="button fullfield" title="Get Started">Get Started</a></div>
                            </div>
                            </div>
                            </div>*@

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div><!-- SITE CONTENT -->
</main>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        let slideIndex = 0;
        let slides = []; // Define an empty array to store the slides

        // Next-previous control
        function nextSlide() {
            slideIndex++;
            showSlides();
            timer = _timer; // reset timer
        }

        function prevSlide() {
            slideIndex--;
            showSlides();
            timer = _timer;
        }

        // Thumbnail image controls
        function currentSlide(n) {
            slideIndex = n - 1;
            showSlides();
            timer = _timer;
        }

        function showSlides() {
            let dots = document.querySelectorAll(".dots");

            if (slideIndex >= slides.length) slideIndex = 0;
            if (slideIndex < 0) slideIndex = slides.length - 1;

            // Hide all slides
            slides.forEach((slide) => {
                slide.style.display = "none";
            });

            // Show the current slide
            if (slides[slideIndex]) {
                slides[slideIndex].style.display = "block";
            }

            // Update the active dot
            dots.forEach((dot) => {
                dot.classList.remove("active");
            });

            if (dots[slideIndex]) {
                dots[slideIndex].classList.add("active");
            }
        }

        // Autoplay slides
        let timer = 7; // sec
        const _timer = timer;

        // This function runs every 1 second
        setInterval(() => {
            timer--;

            if (timer < 1) {
                nextSlide();
                timer = _timer; // reset timer
            }
        }, 1000); // 1sec


        getsmallimagecardsliderlist();

        function getsmallimagecardsliderlist() {
            $.ajax({
                url: "@apiUrl/api/MargERP/GetMargERPList",
                type: "GET",
                success: function (data) {
                    var x = '';
                    var s = '';
                    var k = '';

                    if (data && data.data && data.data.length > 0) {
                        k = k + ' <div id="businessh" class="spdt"><div class="heading align-center"> <h2 class="heading-title size-l"> ERP is Best for your Business</h2> </div></div>'
                    }

                    for (var i = 0; i < data.data.length; i++) {
                        x += '<div class="mySlides"><img src="@ImageUrl' + data.data[i]['imageUpload'] + '" alt="Image"></div>';
                        s += '<span class="dots" onclick="currentSlide(' + data.data[i]['margERPId'] + ')"></span>';
                    }
                    $('#erpslid').html(k);
                    $('#imagessss').html(x);
                    $('#onclockfunction').html(s);

                    slides = document.querySelectorAll(".mySlides"); 
                    showSlides(); 
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

    </script>

    <script>
        $(document).ready(function () {
            getSectionlist();

            function getSectionlist() {
                $.ajax({
                    url: "@apiUrl/api/HomePage/GetHomepageList",
                    type: "GET",
                    success: function (data) {
                        var x = '';
                        for (var i = 0; i < data.data.length; i++) {
                            var header = data.data[i]['header'];

                            x += '<section class="section spdtb"><div class="container"><div class="row flex-align-c">';

                            if (i % 2 === 0) {
                                x += '<div class="col-lg-6"><div class="heading mb32">';
                                x += '<h2 id="header-' + i + '" class="heading-title size-xl">' + header + '</h2>';

                                if (data.data[i]['largecontent']) {
                                    x += '<div class="content" style="display: none;">' + data.data[i]['largecontent'] + '</div>';
                                    x += '<a class="show-btn">Read More</a>';
                                }
                                x += '</div></div>';
                                x += '<div class="col-lg-6"> <img class="wow animate__fadeInLeft" src="@ImageUrl' + data.data[i]['imageUpload'] + '" alt="Image"></div>';
                            } else {
                                x += '<div class="col-lg-6"> <img class="wow animate__fadeInRight" src="@ImageUrl' + data.data[i]['imageUpload'] + '" alt="Image"></div>';
                                x += '<div class="col-lg-6"><div class="heading mb32">';
                                x += '<h2 class="heading-title size-xl">' + header + '</h2>';

                                if (data.data[i]['largecontent']) {
                                    x += '<div class="content" style="display: none;">' + data.data[i]['largecontent'] + '</div>';
                                    x += '<a class="show-btn">Read More</a>';
                                }
                                x += '</div></div>';
                            }
                            x += '</div></div></section>';
                        }
                        $('#sectionview').html(x);

                        addReadMoreEventListener();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }


            function addReadMoreEventListener() {
                $(document).on('click', '.show-btn', function () {
                    var $content = $(this).prev('.content');
                    var $header = $(this).closest('.heading').find('.heading-title.size-xl');

                    $content.slideToggle('fast', function () {
                        if ($content.is(':visible')) {
                            $header.addClass('hide-header');
                        } else {
                            $header.removeClass('hide-header');
                        }
                    });

                    $(this).text(function (index, text) {
                        return text.trim() === 'Read More' ? 'Read Less' : 'Read More';
                    });
                });
            }

            function truncateText(text, maxLines) {
                var lineHeight = 20; // Adjust this value based on your font size and line height
                var maxHeight = maxLines * lineHeight;

                var tempElem = document.createElement('div');
                tempElem.style.position = 'absolute';
                tempElem.style.visibility = 'hidden';
                tempElem.style.height = 'auto';
                tempElem.style.width = '300px'; // Adjust this value based on your container width
                tempElem.style.overflow = 'hidden';
                tempElem.style.lineHeight = lineHeight + 'px'; // Set the line height explicitly

                var spanElem = document.createElement('span');
                spanElem.style.display = 'inline'; // Ensure inline display for accurate line calculation
                spanElem.innerHTML = text;
                tempElem.appendChild(spanElem);

                document.body.appendChild(tempElem);

                var lines = tempElem.clientHeight / lineHeight;
                var truncatedText = text;

                if (lines > maxLines) {
                    while (lines > maxLines) {
                        truncatedText = truncatedText.slice(0, -1);
                        spanElem.innerHTML = truncatedText;
                        lines = tempElem.clientHeight / lineHeight;
                    }
                    truncatedText += '...';
                }

                document.body.removeChild(tempElem);

                return truncatedText;
            }



            function isOverflow(content, maxLines) {
                var lineHeight = 20;
                var maxHeight = maxLines * lineHeight;
                var tempElem = document.createElement('div');
                tempElem.style.position = 'absolute';
                tempElem.style.visibility = 'hidden';
                tempElem.style.height = 'auto';
                tempElem.style.width = '300px';
                tempElem.style.overflow = 'hidden';
                tempElem.style.maxHeight = maxHeight + 'px';
                tempElem.innerHTML = content;
                document.body.appendChild(tempElem);
                var isContentOverflowing = tempElem.scrollHeight > maxHeight;
                document.body.removeChild(tempElem);

                return isContentOverflowing;
            }
        });
    </script>

   @* <script>
        
        getSectionlist();

        function getSectionlist() {
            $.ajax({
                url: "@apiUrl/api/HomePage/GetHomepageList",
                type: "GET",
                success: function (data) {
                    var x = '';

                    if (data && data.data && data.data.length > 0) {
                        for (var i = 0; i < data.data.length; i++) {
                            x = x + '<div class="site-content pt0 pb0 overflow-hidden"><br/><br/><br/><section class="section spdtb"><div class="container" ><div class="row flex-align-c"> ';

                            if (i == 0) {
                                x = x + '<div class="col-lg-6"><div class="heading mb32"><h2 class="heading-title size-xl">' + data.data[i]['header'] + '</h2></div></div>';

                                x = x + '<div class="col-lg-6"> <img class="wow animate__fadeInLeft" src="@ImageUrl' + data.data[i]['imageUpload'] + '" alt="Image"></div>';
                            } else if (i == 1) {
                                x = x + '<div class="col-lg-6"> <img class="wow animate__fadeInRight" src="@ImageUrl' + data.data[i]['imageUpload'] + '" alt="Image"></div>';

                                x = x + '<div class="col-lg-6"><div class="heading mb32"><h2 class="heading-title size-xl">' + data.data[i]['header'] + '</h2></div></div>';
                            } else if (i % 2 == 0) {
                                x = x + '<div class="col-lg-6"><div class="heading mb32"><h2 class="heading-title size-xl">' + data.data[i]['header'] + '</h2></div></div>';

                                x = x + '<div class="col-lg-6"> <img class="wow animate__fadeInLeft" src="@ImageUrl' + data.data[i]['imageUpload'] + '" alt="Image"></div>';
                            } else {
                                x = x + '<div class="col-lg-6"> <img class="wow animate__fadeInRight" src="@ImageUrl' + data.data[i]['imageUpload'] + '" alt="Image"></div>';

                                x = x + '<div class="col-lg-6"><div class="heading mb32"><h2 class="heading-title size-xl">' + data.data[i]['header'] + '</h2></div></div>';
                            }

                            x = x + '</div></div></section></div>';
                        }
                    } else {
                        
                        x = '<section class="hidden"></section>';
                    }

                    $('#sectionview').html(x);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
*@

    <script>
        getHomeBannerImagelist()
        function getHomeBannerImagelist() {
            $.ajax(
                {
                    url: "@apiUrl/api/Banner/GetbannerList",
                    type: "GET",
                    success: function (data) {
                        //console.log(data);
                        if (data.data.length == 1) {
                            var d = '<img class="bannerslideimg" src ="@ImageUrl' + data.data[0]['imageUpload'] + '" alt = "Image">'

                            $('#slider').html(d);
                        }

                        else {
                            var x = '';
                            for (var l = 0; l < data.data.length; l++) {

                                x = x + '<img class="bannerslideimg" src ="@ImageUrl' + data.data[l]['imageUpload'] + '" alt = "Image">'

                            }
                            $('.bannerslider').html(x);
                        }


                    },

                    error: function (err) {
                        console.log(err);

                    }
                }
            );

        }



    </script>

   
    <script>


        getNewPlanePricing()
        var newPricingPlan;
        function changeSeq(seq) {
            var x = '';

            data = newPricingPlan;
            if (seq == 'monthly') {
                x = x + '<div id="rbg"> <input type="radio" class="radiobutton" value="\'monthly\'"  checked onclick="changeSeq(\'monthly\')" name="seq" ><span id="monthly" class="text">Monthly</span> <input  name="seq" type="radio" class="radiobutton" onclick="changeSeq(\'quaterly\')"  value="\'quaterly\'" ><span id="monthly" class="text">Quarterly</span> <input  name="seq" type="radio" class="radiobutton"   onclick="changeSeq(\'halfyearly\')" value="\'halfyearly\'" ><span id="monthly" class="text">Half Yearly</span><input  name="seq" type="radio" class="radiobutton" value="\'yearLy\'" onclick="changeSeq(\'yearLy\')"  ><span id="monthly" class="text">Yearly</span></div>'
            } else if (seq == 'quaterly') {
                x = x + '<div id="rbg"> <input type="radio" class="radiobutton" value="\'monthly\'"   onclick="changeSeq(\'monthly\')" name="seq" ><span id="monthly" class="text">Monthly</span> <input  name="seq" type="radio" checked class="radiobutton" onclick="changeSeq(\'quaterly\')"  value="\'quaterly\'" ><span id="monthly" class="text">Quarterly</span> <input  name="seq" type="radio" class="radiobutton"   onclick="changeSeq(\'halfyearly\')" value="\'halfyearly\'" ><span id="monthly" class="text">Half Yearly</span><input  name="seq" type="radio" class="radiobutton" value="\'yearLy\'" onclick="changeSeq(\'yearLy\')"  ><span id="monthly" class="text">Yearly</span></div>'
            }
            else if (seq == 'halfyearly') {
                x = x + '<div id="rbg"> <input type="radio" class="radiobutton" value="\'monthly\'"   onclick="changeSeq(\'monthly\')" name="seq" ><span id="monthly" class="text">Monthly</span> <input  name="seq" type="radio"  class="radiobutton" onclick="changeSeq(\'quaterly\')"  value="\'quaterly\'" ><span id="monthly" class="text">Quarterly</span> <input  name="seq" checked type="radio" class="radiobutton"   onclick="changeSeq(\'halfyearly\')" value="\'halfyearly\'" ><span id="monthly" class="text">Half Yearly</span><input  name="seq" type="radio" class="radiobutton" value="\'yearLy\'" onclick="changeSeq(\'yearLy\')"  ><span id="monthly" class="text">Yearly</span></div>'
            }
            else if (seq == 'yearLy') {
                x = x + '<div id="rbg"> <input type="radio" class="radiobutton" value="\'monthly\'"   onclick="changeSeq(\'monthly\')" name="seq" ><span id="monthly" class="text">Monthly</span> <input  name="seq" type="radio"  class="radiobutton" onclick="changeSeq(\'quaterly\')"  value="\'quaterly\'" ><span id="monthly" class="text">Quarterly</span> <input  name="seq" type="radio" class="radiobutton"   onclick="changeSeq(\'halfyearly\')" value="\'halfyearly\'" ><span id="monthly" class="text">Half Yearly</span><input  name="seq" type="radio" class="radiobutton" value="\'yearLy\'" checked onclick="changeSeq(\'yearLy\')"  ><span id="monthly" class="text">Yearly</span></div>'
            }

            x = x + '<div class="pricing-table layout-03 is-active"><div class="row"> '

            for (var i = 0; i < data.length; i++) {

                x = x + '<div class="col-lg-3"><div class="pricing-box"><div class="inner"><div class="name">' + data[i]["planName"] + '</div> <div class="price"><div >₹' + data[i][seq] + '</div> / month</div><div class="desc"><p>Perfect for business</p></div>'
                x = x + '<ul class="list">'

                for (var j = 0; j < data[i]['applicationsPricings'].length; j++) {

                    if (data[i]["applicationsPricings"][j]["isAvailable"] == false) {
                        x = x + '<li >' + data[i]["applicationsPricings"][j]["applicationName"] + '</li>'
                    } else if (data[i]["applicationsPricings"][j]["isAvailable"] == true) {
                        x = x + '<li class="active">' + data[i]["applicationsPricings"][j]["applicationName"] + '</li>'
                    }
                }

                x = x + '</ul> <div class="button-wrap"><a href="" class="button fullfield" title="Get Started">Get Started</a></div>'

                x = x + '</div></div></div>'
            }

            x = x + '<div class="col-lg-3"><div class="pricing-box"><div class="inner"><div class="name">Customize</div> <div class="price"><div>₹ as you go</div> / month</div><div class="desc"><p>Perfect for business</p></div>'
            x = x + '<ul class="list">'

            for (var j = 0; j < data[0]['applicationsPricings'].length; j++) {


                x = x + '<li class="active">' + data[0]["applicationsPricings"][j]["applicationName"] + '</li>'

            }

            x = x + '</ul> <div class="button-wrap"><a href="" class="button fullfield" title="Get Started">Get Started</a></div>'

            x = x + '</div></div></div>'


            x = x + '</div></div>'

            $('#newpricing').html(x);

        }

        function getNewPlanePricing() {

            $.ajax(
                {
                    url: "@apiUrl/api/PlanningAndApplication/GetPlanWisePricing",
                    type: "GET",
                    success: function (data) {

                        var x = '';
                        newPricingPlan = data;
                        x = x + '<div id="rbg"> <input type="radio" class="radiobutton" value="\'monthly\'"  checked onclick="changeSeq(\'monthly\')" name="seq" ><span id="monthly" class="text">Monthly</span> <input  name="seq" type="radio" class="radiobutton" onclick="changeSeq(\'quaterly\')"  value="\'quaterly\'" ><span id="monthly" class="text">Quarterly</span> <input  name="seq" type="radio" class="radiobutton"   onclick="changeSeq(\'halfyearly\')" value="\'halfyearly\'" ><span id="monthly" class="text">Half Yearly</span><input  name="seq" type="radio" class="radiobutton" value="\'yearLy\'" onclick="changeSeq(\'yearLy\')"  ><span id="monthly" class="text">Yearly</span></div>'
                        x = x + '<div class="pricing-table layout-03 is-active"><div class="row"> '

                        for (var i = 0; i < data.length; i++) {

                            x = x + '<div class="col-lg-3"><div class="pricing-box"><div class="inner"><div class="name">' + data[i]["planName"] + '</div> <div class="price"><div class="">₹' + data[i]["monthly"] + '</div> / month</div><div class="desc"><p>Perfect for business</p></div>'
                            x = x + '<ul class="list">'

                            for (var j = 0; j < data[i]['applicationsPricings'].length; j++) {

                                if (data[i]["applicationsPricings"][j]["isAvailable"] == false) {
                                    x = x + '<li >' + data[i]["applicationsPricings"][j]["applicationName"] + '</li>'
                                } else if (data[i]["applicationsPricings"][j]["isAvailable"] == true) {
                                    x = x + '<li class="active">' + data[i]["applicationsPricings"][j]["applicationName"] + '</li>'
                                }

                            }

                            x = x + '</ul> <div class="button-wrap"><a href="../Home/Registration" class="button fullfield" title="Get Started">Get Started</a></div>'

                            x = x + '</div></div></div>'
                        }

                        x = x + '<div class="col-lg-3"><div class="pricing-box"><div class="inner"><div class="name">Customize</div> <div class="price"><div>₹ as you go</div> / month</div><div class="desc"><p>Perfect for business</p></div>'
                        x = x + '<ul class="list">'

                        for (var j = 0; j < data[0]['applicationsPricings'].length; j++) {


                            x = x + '<li class="active">' + data[0]["applicationsPricings"][j]["applicationName"] + '</li>'

                        }

                        x = x + '</ul> <div class="button-wrap"><a href="../Home/Coustmize" class="button fullfield" title="Get Started">Get Started</a></div>'

                        x = x + '</div></div></div>'


                        x = x + '</div></div>'

                        $('#newpricing').html(x);



                    },
                    error: function (err) {
                        console.log(err);

                    }
                }
            );

        }



    </script>


    <script>
        geticon();

        function geticon() {
            $.ajax({
                url: "@apiUrl/api/BetterProduct/GetBetterProductList",
                type: "GET",
                success: function (data) {
                    
                    var x = '';

                    if (data && data.data && data.data.length > 0) {
                        x = x + '<section class="section spdt"> <div class="container" ><div class="heading align-center"><h2 class="heading-title size-l">Find Better Solutions Build Better Products</h2></div><div class="block-icon-box layout-01"><div class="row">';
                        for (var l = 0; l < data.data.length; l++) {
                            x = x + '<div class="col-lg-3 col-sm-12"> <div class="icon-box"><div class="inner"><div class="icon"><img src ="@ImageUrl' + data.data[l]['imageUpload'] + '"></div><div class="content "><div class="desc">' + data.data[l]['text'] + '  </div></div></div></div></div>';
                        }
                        x = x + '</div></div> </div></section>';
                        $('#iconjpj').html(x);

                        // Center the data
                        var centerIndex = Math.floor(data.data.length / 2);
                        var centerElements = $('#iconjpj').find('.col-sm-12');

                        if (data.data.length === 1) {
                            centerElements.addClass('text-center mx-auto');
                        } else if (data.data.length === 2) {
                            centerElements.eq(centerIndex).addClass('text-center mx-auto');
                            centerElements.eq(centerIndex - 1).addClass('text-center mx-auto');
                        } else if (data.data.length === 3) {
                            centerElements.addClass('text-center mx-auto');
                        }
                    } else {
                        // Hide the heading if data is null
                        $('#iconjpj').html('');
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>


}

