@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "ApplicationMaster Create";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<style>
    .btn-primary {
        color: #fff;
        background: #3b16cc !important;
        border-color: #3b16cc !important;
    }

    a {
        color: #3b16cc;
    }

    a {
        color: #3b16cc;
    }

    .sweet-alert button {
        background-color: #0052cc !important;
    }

    .btn-secondary {
        color: #fff;
        background: #0052cc !important;
        border-color: #0052cc;
    }

    img {
        max-width: 93px;
    }

    .table th, .text-wrap table th {
        color: #2e3138;
        text-transform: inherit;
        font-size: 0.875rem;
        font-weight: 400;
    }
</style>

<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-pie-chart mr-1"></i> Admin Console</a></li>
        <li class="breadcrumb-item active" aria-current="page">ApplicationMaster</li>
    </ol>
    <div class="ml-auto">
        <a href="~/ApplicationMaster/ApplicationMasterCreate" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> Add New
        </a>

    </div>
</div>

<div class="col-md-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <div class="col-md-11">
                <div class="card-title">ApplicationMaster Create</div>
            </div>
            <div class="col-md-1">
                <a href="#" onclick="showTable()"><i class="angle fa fa-table" style="color:white"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="#" onclick="showTree()"><i class="angle fa fa-tree" style="color:white"></i></a>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive" id="tableView">
                <table id="categoryTable" class="table table-striped table-bordered nowrap dataTable no-footer dtr-inline">
                    <thead>
                        <tr>
                            <th>Application Master Name</th>
                            <th>Application Master Monthly Price</th>
                            <th>Application Master Quarterly Price</th>
                            <th>Application Master Halfyearly Price</th>
                            <th>Application Master Yearly Price</th>
                            <th>Package Name</th>
                            <th>Parent</th>
                            <th>Front Page Display</th>
                            <th>Application Master Logo</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="treeview" style="display:none">
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />




@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>
        var applicationMasterId;
        

        function showTable() {
            $('#tableView').show();
            $('#treeview').hide();
        }
        function showTree() {
            $('#tableView').hide();
            $('#treeview').show();
        }


        $(function () {
            loadCategory();
            $('#treeview').jstree({
                'core': {
                    'data': {
                        'url': '/ApplicationMaster/WithPrimaryNodes',
                        'data': function (node) {
                            return { 'id': node.id };
                        }
                    }
                }
            });


            $('#treeview').on('changed.jstree', function (e, data) {
                var i, j, r = [];
                for (i = 0, j = data.selected.length; i < j; i++) {
                    r.push(data.instance.get_node(data.selected[i]));

                }

                // $('#event_result').html('Selected: ' + r.join(', '));
            }).jstree();

            function loadCategory() {
                var table = $('#categoryTable').DataTable();
                table.destroy();
                table = $('#categoryTable').dataTable({
                    "paginationType": "full_numbers",
                    "dom": 'Bfrtip',
                    "buttons": [/*'copy',*/ 'csv', 'excel', 'pdf', 'print'],
                    "searching": true,
                    "paging": true,
                    "sort": true,
                    "info": true,
                    "ajax": {
                        "url": '@apiUrl/api/ApplicationMaster/GetAllApplicationMasterList',
                        "type": "GET",
                        "dataType": "json",

                        "error": function (data) {
                            console.log(data);
                            if (data.status == 401) {
                                window.location.replace('/Message/TokenExpire');
                            } else if (data.status == 403) {
                                window.location.replace('/Message/Unauthorize');
                            }
                        }
                    },

                    "order": [],
                    "columns": [
                        { "data": "applicationMasterName", "orderable": true },
                        { "data": "applicationMasterMonthlyPrice", "orderable": true },
                        { "data": "applicationMasterQuarterlyPrice", "orderable": true, },
                        { "data": "applicationMasterHalfyearlyPrice", "orderable": true, },
                        { "data": "applicationMasterYearlyPrice", "orderable": true, },
                        { "data": "packagename", "orderable": true, },
                        { "data": "parentName", "orderable": true },
                        { "data": "frontpagedisplay", "orderable": true, },


                        {
                            "render": function (data, type, row) {
                                if (row.imageUpload === '')
                                    return '';
                                else
                                    return '<img src="' + row.applicationMasterLogo + '"/>'
                            }
                        },
                       // console.log(data);
                        {
                            "render": function (data, type, row) {

                                return '<a href="../ApplicationMaster/ApplicationMasterEdit?applicationMasterId=' + row.applicationMasterId + '">edit</a> &nbsp;      <button class="btn btn-secondary btn-sm rounded-circle" title="Delete" data-target="#delete" data-title="Delete" data-toggle="modal" data-id=' + row.applicationMasterId + '><i class="material-icons">delete</i></button>'

                            }
                        },

                    ]
                });
            }

            $('#categoryTable tbody').on('click', 'button[data-target="#delete"]', function () {
                var id = $(this).data('id');

               
                swal({
                    html: true,
                    title: "Are you sure?",
                    text: "You will not be able to recover this data!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, confirm it!",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        type: "GET",
                        url: "@apiUrl/api/ApplicationMaster/DeleteApplicationMaster/" + id + "/" + @Context.Session.GetInt32("UserId"),

                        contentType: "application/json; charset=utf-8",
                        headers: {
                            "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                        },
                        dataType: "json",
                        success: function (data, statusText, xhr) {
                            if (xhr.status == 200) {
                                $('#categoryTable').DataTable().ajax.reload(null, false);
                                sweetAlert({
                                    html: true,
                                    title: "ApplicationMaster",
                                    text: "Successfully deleted!",
                                    type: "success"
                                });
                            }
                            else
                                if (xhr.status == 202) {
                                    sweetAlert("Validation Alert!", data.responseMsg, "warning");
                                } else {
                                    sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                                }
                        },
                        error: function (data) {
                            if (data.status == 401) {
                                window.location.replace('/Message/TokenExpire');
                            } else if (data.status == 403) {
                                window.location.replace('/Message/Unauthorize');
                            }
                        }
                    });
                });
            });

        });


       

    </script>
}