@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Pricing Edit";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}


<style>
    .btn-success {
        color: #fff;
        background: #3b16cc !important;
        border-color: #3b16cc;
    }

    a {
        color: #3b16cc;
    }
</style>
<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Consol</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pricing Edit</li>
    </ol>
    <div class="ml-auto">
        <a href="~/WebsitePages/PricingList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span>Pricing View
        </a>
    </div>
</div>
<!-- PAGE-HEADER END -->

<div class="col-md-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <div class="col-md-11">
                <div class="card-title">Pricing Edit</div>
            </div>
        </div>
        <div class="card-body" id="section">
            <div>
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="hint-name">Plans</label>
                                        <select class="form-control" id="Planses" type="text">
                                            <option value="" selected>--Choose--</option>
                                            <option value="Basic">Basic</option>
                                            <option value="premium">Premium</option>
                                            <option value="pro">Pro</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="hint-name">Period</label>
                                        <select class="form-control" id="Period" type="text">
                                            <option value="" selected>--Choose--</option>
                                            <option value="Monthly">Monthly</option>
                                            <option value="QUARTERLY">QUARTERLY</option>
                                            <option value="HALF_YEARLY">HALF-YEARLY</option>
                                            <option value="ANNUALLY">ANNUALLY</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Product</label>
                                        <select class="form-control" id="productname" type="text">
                                            <option value="" selected>--Choose--</option>
                                            <option value="ERP">ERP</option>
                                            <option value="Desktop Monitoring">Desktop Monitoring</option>
                                            <option value="Mail Camening">Mail Camening</option>
                                            <option value="Virtual Office">Virtual Office</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Price</label>
                                        <input type="number" class="form-control" autocomplete="off" id="price" placeholder="Price" required />
                                    </div>
                                </div>

                                <div class="col-sm-1">
                                    <div class="btn-box addbutton">
                                        <button type="button" class="btn btn-primary btn-sm" id="btnprice">Add </button>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="card addtable">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table id="producttabl" class="table table-striped table-bordered nowrap dataTable no-footer dtr-inline">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Price</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="product-tb">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-lg-6">
                                <button type="button" id="updatebtn" class="btn btn-primary">Save</button>

                            </div>
                        </div>
                        <br />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>

        $(function () {
            $("#btnprice").click(function (e) {
                var x = $('#product-tb').html();
                var Product = $('#productname option:selected').text();

                var price = $('#price ').val();

                x = x + "<tr><td>" + Product + "</td><td>" + price + "</td><td><button type='button' class='btn btn-outline-danger' id='delRowBtn'>Delete</button></td></tr>"
                $('#product-tb').html(x);
                $(document.body).delegate("#delRowBtn", "click", function () {
                    $(this).closest("tr").remove();
                });
            });
        });
       


        var pricingId = @ViewBag.pricingId
            loadSinglepricing()
        function loadSinglepricing() {
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Pricing/GetSinglePricing/" + pricingId,
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (data) {
                   
                    if (data) {

                        $('#Planses').val(data.data.planes);
                        $('#Period').val(data.data.period);

                        var z = ''
                        for (var i = 0; i < data.pricingproductViewDTO.length; i++) {
                            z = z + "<tr><td>" + data.pricingproductViewDTO[i].productname + "</td><td>" + data.pricingproductViewDTO[i].price + "</td><td><button type='button' class='btn btn-outline-danger' id='delRowBtn'>Delete</button></td></tr>"
                        }
                        $('#product-tb').html(z);
                        $(document.body).delegate("#delRowBtn", "click", function () {
                            $(this).closest("tr").remove();
                        });
                       
                    }
                    else {
                        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        $("#updatebtn").click(async function (e) {
            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();
            } else {
                var itemDeatils = [];
                $.each($("#producttabl tbody tr"), function () {
                    var $irow = $(this),
                        rowObj = {};
                    var k = 0
                    var productname;
                    var Price;

                    $.each($("td", $irow), function () {
                        var $col = $(this);

                        if (k == 0) {
                            productname = $col.html()
                        }
                        if (k == 1) {
                            Price = $col.html()
                        }
                        k = k + 1
                    });

                    var a = {
                        "productname": productname,
                        "price": Price,
                    }

                    itemDeatils.push(a)
                });

                var model = {
                    pricingId: pricingId,

                    planes: $.trim($("#Planses").val()),
                    period: $.trim($("#Period").val()),
                    updatepricingproductDTOs: itemDeatils,

                    createdBy: @Context.Session.GetInt32("UserId"),
                }
                
                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/Pricing/Updatepricing",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },

                    success: function (data, statusText, xhr) {
                        
                        if (xhr.status === 200) {
                            $('#page_Tb').DataTable().ajax.reload(null, false);
                            sweetAlert({
                                html: true,
                                icon: "success",
                                title: "Pricing",
                                text: "Successfully updated!",
                                type: "success"
                            });
                        } else if (data.status === "duplicate") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else if (data.status === "error") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                       
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });
            }
        });

        //function uploadFile() {
        //    var totalFiles = document.getElementById('image').files.length;
        //    if (totalFiles > 0) {
        //        var formData = new FormData();
        //        var files = document.getElementById('image').files;
        //        formData.append("file", files[0]);
        //        $.ajax(
        //            {
        //                url: "/Upload/ImgUpload",
        //                data: formData,
        //                processData: false,
        //                contentType: false,
        //                async: false,
        //                type: "POST",
        //                success: function (data) {
        //                    imgPath = data;
        //                    $('#getimg').attr('src', imgPath);
        //                    resetInputFile('#formPost');
        //                }
        //            }
        //        );
        //    }

        //}
    </script>
}